@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato:ital,wght@0,300;0,400;0,900;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  background: #753aa2;
  padding-bottom: 10vh;
}

#leaderboard-section {
  padding: 20px;
}

.leaderboard-title {
  font-size: 40px;
}

.leaderboard-block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 30px 20px 30px;
  background: #502770;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0 0.2em 2em 1em rgba(0, 0, 0, 0.3);
}

.score-title-button {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .recent-scores-container{

} */
#srores-list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0 0.2em 2em 1em rgba(0, 0, 0, 0.3);
}

.scores-list {
  padding: 5px;
}

.scores-list:nth-child(even) {
  background-color: #753aa2;
}

.scores-list:nth-child(odd) {
  background-color: #462063;
}

.refresh {
  height: 2rem;
  border-radius: 20px;
  background-color: #fbd462;
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0 0.2em 2em 1em rgba(0, 0, 0, 0.3);
}

input {
  border: 2px solid black;
  padding: 5px;
}

.submit {
  height: 2rem;
  border-radius: 20px;
  background-color: #fbd462;
  border: 1px solid white;
  cursor: pointer;
}

.footer {
  background: #502770;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}

@media only screen and (min-width: 1024px) and (max-width: 2560px) {
  .leaderboard-block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 30px 20px 30px;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
  }
}
